/* Enter your custom styles here */

/* #idTitle {
    color: red !important
} */
/* #idTitle1 {
    color: red !important
} */
/* #idTitle2 {
    color: red !important
} */

.TitleCss {
    color: red !important;
}